{% if greeting_list %}
    <ul>
    {% for greeting in greeting_list %}
        <li>
          {{ greeting.message }}
          <span><a href="{% url 'greetings:update' greeting.id %}">edit</a></span>
          <span><a href="{% url 'greetings:delete' greeting.id %}">delete</a></span>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No greetings are available.</p>
{% endif %}
<a href="{% url 'greetings:create' %}">Create a New Greeting</a> <br>
<img src="https://image.spreadshirtmedia.com/image-server/v1/mp/compositions/T1458A70MPA3863PT17X29Y0D1028041306FS434/views/1,width=550,height=550,appearanceId=70,backgroundColor=FFFFFF,noPt=true/cute-corgis-adorable-dog-kawaii-anime-chibi-corgi-face-mask.jpg"><br>
<a href="{% url 'greetings:new_page' %}">Look at My New Page!</a> <br>